/* --- Fonts --- */
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap");

/* --- Reset --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Jura;
  scroll-behavior: smooth;
}

/* --- NAV BAR --- */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: transparent;
}

.main-header.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

.nav {
  display: flex;
  gap: 40px;
  list-style: none;
}

.nav-item-custom {
  font-weight: 700;
  font-size: 18px;
  color: black !important;
  text-decoration: none;
  font-family: Jura;
  transition: color 0.3s ease;
}

.nav-item-custom:hover {
  color: #757575 !important;
}

/* --- SLIDE ESTILO --- */

.slide {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

/* Slide 1 bg */
.bg-slide-1 {
  background-image: url("bgpg1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Slide 2 bg */
.bg-slide-2 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #b49b2c40;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Slide 3 bg */
.bg-slide-3 {
  position: relative;
  height: 100vh;
  background-color: #000000;
  overflow: hidden;
}

.bg-slide-3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 40%;
  background-image: url("caravana.jpg");
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  z-index: 0;
}

/* --- TEXTO CENTRADO --- */
.centered-text {
  text-align: center;
  color: white;
}

.centered-text-h1 {
  font-family: Josefin Slab;
  font-weight: 700;
  font-size: 20px;
  padding: 20px;
}

.container2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding-right: 50px;
}

.centered-text-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  color: white;
  font-family: Jura;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.1em;
  width: auto;
}

/* botão slide 3 */
.custom-button {
  padding: 18px 40px;
  font-size: 22px;
  border-radius: 30px;
  color: white;
  background-color: black;
  border: 2px solid white;
  cursor: pointer;
  margin-top: 20px;
}

/* --- SLIDE 2 --- */
.slide2-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #b49b2c40;
  z-index: -1;
}

/* Slide 2 CONTEUDO */
.container {
  position: relative;
  display: grid;
  place-items: center;
  width: auto;
  max-width: 80%;
  height: auto;
  padding: 20px;
  text-align: center;
  gap: 10px;
}

/*LEFT AND RIGHT TEXTO */
.text-left,
.text-right {
  flex: 1;
  color: black;
  font-family: Jura;
  font-weight: 700;
  font-style: bold;
  font-size: 20px;
  line-height: 1.18;
  letter-spacing: 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slide2-content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 20px;
}

/*---Divisor---*/
.divider {
  width: 2px;
  background-color: black;
  border-radius: 1px;
}

.right-texts {
  display: flex;
  justify-content: space-between;
  font-family: Jura;
  margin-top: 10px;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 20%;
  color: black;
}

.right-left-text,
.right-right-text {
  width: 45%;
  font-weight: 700;
  font-family: Jura;
  font-size: 20px;
  line-height: 1.18;
  letter-spacing: 0.2em;
  text-align: left;
}

.right-left-text p,
.right-right-text p {
  color: black;
  cursor: pointer;
  transition: text-decoration 0.3s ease;
}

.right-left-text p:hover,
.right-right-text p:hover {
  text-decoration: underline;
  text-decoration-color: rgb(155, 227, 255);
}

.right-left-text:hover p,
.right-right-text:hover p {
  text-decoration: underline;
  text-decoration-color: rgb(155, 227, 255);
}

.right-texts {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 15px;
  padding: 15px;
  --b: 5px;
  --c: black;
  --w: 20px;

  border: var(--b) solid #0000;
  --_g: #0000 90deg, var(--c) 0;
  --_p: var(--w) var(--w) border-box no-repeat;

  background: conic-gradient(
        from 90deg at top var(--b) left var(--b),
        var(--_g)
      )
      0 0 / var(--_p),
    conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g))
      100% 100% / var(--_p);
}

/* Responsive */
@media (max-width: 768px) {
  .slide2-content {
    flex-direction: column;
  }

  .divider {
    display: none;
  }

  .right-texts {
    flex-direction: column;
    align-items: center;
  }

  .right-left-text,
  .right-right-text {
    width: 100%;
    text-align: center;
  }
}

.highlight {
  font-family: Jura;
  font-size: 30px;
  font-weight: bold;
  color: #686931;
}

@media (max-width: 768px) {
  .main-header {
    width: 100%;
    padding: 10px;
    background-color: none;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .nav-item-custom {
    font-size: 16px;
    margin-left: 0;
  }
}

/* Esconder o hamburger */
.hamburger {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
}

/* Mobile */
@media (max-width: 768px) {
  .main-header {
    width: 100%;
    padding: 10px 20px;
    background-color: transparent !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger {
    display: block;
  }

  .nav-container {
    display: none;
    width: 100%;
    background-color: transparent !important;
  }

  .nav-container.active {
    display: block;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
  }

  .nav-item-custom {
    font-size: 18px;
    margin-left: 0;
    padding: 8px 0;
    background: transparent !important;
  }
}

.main-header,
.nav-container,
.nav,
.nav-item-custom,
.nav-link {
  background-color: transparent !important;
  background: transparent !important;
  box-shadow: none !important;
}

@media (max-width: 768px) {
  .nav-container,
  .nav,
  .nav-item,
  .nav-link,
  .nav-item-custom,
  .main-header {
    background: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
  }

  ul.nav {
    background: none !important;
    padding: 0 !important;
    margin: 0 !important;
    list-style: none;
  }

  .nav-container.active {
    background: none !important;
  }
}

.custom-button {
  padding: 18px 40px;
  font-size: 22px;
  font-family: Jura;
  font-weight: 700;
  color: white;
  background-color: black;
  border: 2px solid white;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 200px;
  margin-left: 0;
}

.custom-button:hover {
  background-color: white;
  color: black;
}

/* Slide 4 */
.bg-slide-4 {
  background-color: #b49b2c40;
  background-image: url("floresta.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

.centered-text-4 {
  font-family: Jura;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 700;
  font-style: bold !important;
  line-height: 1.18;
  letter-spacing: 0.2em;
  text-align: center;
  max-width: 600px;
  margin: 200px;
  padding: 0 20px;
}

.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.centered-text-4 {
  max-width: 500px;
  padding: 10px;

  text-align: center;

  margin-left: -30vw;
  align-self: flex-start;
}

.custom-button-2 {
  padding: 18px 40px;
  font-size: 22px;
  font-family: Jura;
  font-weight: 700;
  color: rgb(0, 0, 0);
  background-color: transparent;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 30px;
  cursor: pointer;

  display: block;
  margin: 20px auto 0 auto;
}

.custom-button-2:hover {
  background-color: black;
  color: white;
}

.bg-slide-4 {
  background-color: #b49b2c40;
  background-image: url("floresta.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 50% 100%;
}

/*Slide 5*/

.bg-slide-5 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("blogbg.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.centered-text-5 {
  font-family: Jura;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 700;
  font-style: bold !important;
  line-height: 1.18;
  letter-spacing: 0.2em;
  text-align: center;
  max-width: 600px;
  margin: 200px;
  padding: 0 20px;
  text-align: center;
}

.custom-button-3 {
  padding: 24px 120px;
  font-size: 25px;
  font-family: Jura;
  font-weight: 700;
  color: rgb(255, 255, 255);
  background-color: black;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 30px;
  cursor: pointer;
  margin-left: 0;
}

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 40px;
  color: black;
  text-decoration: none;
  z-index: 999;
  transition: transform 0.3s ease;
}

.back-to-top:hover {
  transform: scale(1.2);
}

/* --- Footer --- */
footer {
  background-color: black !important;
  text-align: center;
  padding: 20px 0;
  font-family: Jura;
  color: white;
}

footer h1,
footer h4,
footer p {
  color: white !important;
  font-family: Jura;
}

footer h4 {
  font-size: 12px;
  color: white !important;
  margin-top: 5px;
  font-weight: 400;
  font-family: Jura;
}

footer .social-icons {
  margin: 10px 0;
}

footer .social-icons a {
  color: rgb(127, 127, 127);
  margin: 0 10px;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s ease;
}

/*Seta*/
.back-to-top {
  font-size: 2.5rem;
  color: black;
  position: absolute;
  bottom: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  z-index: 999;
}

/* JS ativa → aparece  */
.back-to-top.active {
  opacity: 1;
  pointer-events: auto;
}

/* Posições setas */
.back-to-top.left {
  left: 30px;
}

.back-to-top.right,
.back-to-top.right-3 {
  right: 30px;
}

#slide3 .back-to-top {
  color: white;
}

.slide {
  position: relative;
}

.back-to-top {
  font-size: 2.5rem;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease, transform 0.25s ease;
  position: absolute;
  bottom: 20px;
  z-index: 999;
  transform: translateY(6px);
}

.back-to-top.active {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.back-to-top.left {
  left: 30px;
}
.back-to-top.right,
.back-to-top.right-3 {
  right: 30px;
}

#slide3 .back-to-top {
  color: white;
}
